<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/css/custom.css" type="text/css" />
  <title>Blog MD</title>
</head>
<body class="bg-lighter">
  <%- include('../partials/_header') %>
  
  <div class="container mw-6 p-5 align-middle bg-light">
    
    <% posts.forEach(post => { %>
      <a href="posts/<%= post.slug %>" class="a-off">
        <article class="text-dark-gray cursor-pointer">
          <div class="d-block">
            <img width="800" height="400" src="../uploads/images/<%= post.image %>" alt="blog-img" class="img-fluid rounded mb-1" />
          </div>
          <h3 class="font-weight-bold mb-1"><%= post.title %></h3>
          <h5 class="font-weight-normal text-muted mb-1"><%= post.category %></h5>
          <p class="font-weight-light text-muted mb-1"><%= post.description %></p>
          <div class="font-weight-lighter text-muted small mb-1"><%= formatDate(post.createdAt) %></div>
          <!-- 24 AGO 2020 -->
          <% if(userId) { %> 
            <form action="/posts/<%= post.id %>?_method=DELETE" method="POST" class="mb-1">
              <button type="submit" class="btn btn-danger">Delete</button>
              <a href="/posts/edit/<%= post.id %>" class="btn btn-info">Edit</a>
            </form> 
          <% } %>
          
          <hr class="mt-2" />
        </article> 
      </a>
    <% }); %>
    
  </div>

  <%- include('../partials/_footer.ejs') %>
</body>
</html> 