<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/custom.css" type="text/css" />
  <title>Blog MD</title>
</head>
<body>
  <%- include('_header') %> 
  
  <div class="container mw-6 p-5 align-middle">
    
    <% posts.forEach(post => { %>
      <a href="posts/<%= post.slug %>" class="text-decoration-none">
        <article class="text-dark-gray cursor-pointer">
          <h4 class="font-weight-bold mb-1"><%= post.title %></h5>
          <h5 class="font-weight-normal text-muted mb-0"><%= post.category %></h6>
          <p class="font-weight-light text-muted mt-1 mb-1"><%= post.description %></p>
          <div class="font-weight-lighter text-muted small mt-1 mb-1"><%= post.createdAt.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit'}) %></div>
          <!-- 24 AGO 2020 -->
          <hr class="mt-2" />
        </article> 
      </a>
    <% }); %>
    
  </div>  
</body>
</html> 