<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/css/custom.css" type="text/css" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">
  <title><%= post.title %></title>
</head>
<body class="bg-lighter">
  <%- include('../partials/_header') %> 
  
  <div class="container mw-6 p-5 align-middle bg-light container-shadow">

    <h1 class="font-weight-bold mb-1"><%= post.title %></h1>
    <div class="text-muted mb-2"><%= formatDate(post.createdAt) %></div>
    <a href="/" class="btn btn btn-secondary mb-4">Todos os Posts</a>

    <% if(userId) { %> 
      <a href="/posts/edit/<%= post.id %>" class="btn btn-info mb-4">Edit</a>
    <% } %>
    
    <% if(post.image) { %> 
      <div class="custom-img-banner">
        <img src="../uploads/images/<%= post.image %>" alt="blog-img" class="img-fluid mb-4" />
      </div>
    <% } %>
    
    <div class="min-vh-100">
      <%- post.sanitizedHTML %>
      
      <div id="disqus_thread"></div>
    </div>
    
  </div>
  
  <%- include('../partials/_footer.ejs') %>

  <!-- Disqus script -->
  <script>
    // var disqus_shortname = "blog-md";
    
    // var disqus_config = function () {
    // this.page.url = 'https://blog-md/posts/<%= post.slug %>'; 
    // this.page.identifier = '<%= post.id %>';
    // };
    
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://blog-md.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <!-- Disqus script -->
</body>
</html> 